.white-bg {
    -fx-background-color: #f5f5f5;
}

.border-top {
    -fx-border-color: #333;
    -fx-border-width: 1px 0 1px 0;
}

.radius {
    -fx-background-radius: 10px;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.header-2 {
    -fx-border-color: linear-gradient(to right, #a413a1, #64308e);
    -fx-border-width: 0 0 2px 0;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
}

.bg-color-2 {
    -fx-background-color: linear-gradient(to right, #a413a1, #64308e);
}

.nav-btn-2 {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

.nav-btn-2:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.table-view {
    -fx-padding: 5px;
    -fx-border-radius: 10px;
    -fx-border-color: linear-gradient(to right, #a413a1, #64308e);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #a413a1, #64308e);
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header .label {
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.btn-2 {
    -fx-background-color: linear-gradient(to right, #a413a1, #64308e);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}

.btn-2:hover {
    -fx-background-color: linear-gradient(to right, #c512c5, #67289d);
}

.textfield-2 {
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-font-family: Tahoma;
    -fx-padding: 5px;
}

.textfield-2:focused {
    -fx-border-color: linear-gradient(to right, #a413a1, #64308e);
    -fx-border-width: 2px;
}

.search {
    -fx-border-color: #333;
    -fx-border-width: 1px;
    -fx-padding: 5px 10px;
    -fx-font-family: Tahoma;
}

.search:focused {
    -fx-border-color: linear-gradient(to right, #a413a1, #64308e);
    -fx-border-width: 2px;
}